
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  overflow-x: hidden;
} */
li{
  list-style: none;
}
li:hover{
  background-color: rgb(216, 209, 0); 
  padding: 15px;
  /* transform: scale(1.05); */
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
.nav nav{
  display: flex;
  background-color: #272727e3;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.switch-mode{
  margin-right: 50px;
}
.nav-list{
  display: flex;

  list-style-type: none;
  align-items: center;
  margin-left: 20px;
  height: 100%;
}

.nav-list--element a{
  /* margin: 0px 20px; */
  padding: 15px 15px ;
  text-decoration: none;
  /* color: #fff; */
}
/* .nav-list--element  .active{
  background-color: rgba(255, 255, 0, 0.219);
} */
.nav-list .active{
  /* background-color: rgb(216, 209, 0); */
  height: auto;
}

/* Players */
.container{
  
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.card{
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  background: white;
  border-radius: 1.2em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%),
    0 8px 16px -8px hsl(0deg 0% 0% / 30%),
    0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
  transition: all ease 200ms;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: auto;
}
.card .btn{
  background-color: #000;
  width: 100%;
  color:white;
}
.card a{
  display: block;
}

/* footer */
footer{
  margin-top: 10px;
  background-color: rgba(255, 221, 0, 0.851);
  text-align: center;
}
/* player pop-up */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
